[submodule "1.0a1.0"]
	path = 1.0a1.0
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "1.0a2.0"]
	path = 1.0a2.0
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "1.0a3.0"]
	path = 1.0a3.0
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "1.0a4.0"]
	path = 1.0a4.0
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "1.0a4.1"]
	path = 1.0a4.1
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "1.0b1.0"]
	path = 1.0b1.0
	url = git://github.com/viewsource/archive.jquery-mobile.git
[submodule "latest"]
	path = latest
	url = git://github.com/viewsource/archive.jquery-mobile.git
